{% extends 'layout.html' %}

{% block content %}
<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">แปลงเสียงพูดเป็นข้อความ</h2>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success" id="start-btn"> ฟังเสียง </button>
    <button type="button" class="btn btn-danger" style="display: none;" id="stop-btn"> หยุด
    </button>
    <div class="progress mx-auto my-3" style="max-width: 30rem;">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="10" id="sound"></div>
    </div>
  </div>
</div>
<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title"> ข้อความที่ได้ยิน </h2>
  </div>
  <div class="card-body text-start">
    <p id="content" class="card-text"></p>
  </div>
</div>

<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">ผลลัพธ์</h2>
  </div>
  <div class="card-body">
    <div class="audio">
      <audio controls id="audio">
        <source src="" type="audio/x-wav">
      </audio>
    </div>
  </div>
</div>

<script type=text/javascript>
  let lang = "th-TH";
  var end = false;

  var recognition = new webkitSpeechRecognition();
  recognition.lang = lang
  recognition.continuous = false;

  const contentEl = document.querySelector("#content");
  const startBtn = document.querySelector("#start-btn")
  const stopBtn = document.querySelector("#stop-btn")

  recognition.onresult = function (event) {
    let results = Object.values(event.results);
    let values = results.map((value) => value[0].transcript)
    contentEl.innerText = values[values.length-1]
  }

  recognition.onstart = function () {
    end = false;
    watchSound();
    startBtn.style.display = "none";
    stopBtn.style.display = "initial";
  }

  recognition.onend = function () {
    end = true;
    startBtn.style.display = "initial";
    stopBtn.style.display = "none";
    speak();
  }

  startBtn.addEventListener('click', function start(event) {
    recognition.start();
  })

  stopBtn.addEventListener('click', function stop(event) {
    recognition.stop();
  })

  function speak() {
    let url = {{ url_for('speech')|tojson }}
    let data = new FormData()
    data.append("text", contentEl.innerText)
    fetch(url, { "method": "POST", "body": data })
      .then((response) => response.blob())
      .then((blob) => {
        var reader = new FileReader();
        reader.readAsDataURL(blob); 
        reader.onloadend = function() {
          var src = reader.result;    
          document.getElementById("audio").pause()
          document.getElementById("audio").setAttribute('src', src)
          document.getElementById("audio").load()
        }
      })
  }

  async function watchSound() {
    // Get display soundwave element
    const soundEl = document.querySelector('#sound');

    // Start audio stream
    const stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });
    const audioContext = new AudioContext();
    const mediaStreamAudioSourceNode = audioContext.createMediaStreamSource(stream);
    const analyserNode = audioContext.createAnalyser();
    mediaStreamAudioSourceNode.connect(analyserNode);
    const pcmData = new Float32Array(analyserNode.fftSize);

    const onFrame = () => {
      analyserNode.getFloatTimeDomainData(pcmData);
      let sumSquares = 0.0;
      for (const amplitude of pcmData) { sumSquares += amplitude*amplitude; }
      let wave = Math.sqrt(sumSquares / pcmData.length) * 100
      soundEl.style.width = `${wave*10}%`
      soundEl.setAttribute('aria-valuenow', wave)
      
      if (end) {
        stream.getTracks().forEach(function(track) {
          track.stop();
        });
        soundEl.style.width = `0%`
        soundEl.setAttribute('aria-valuenow', 0)
        return 
      }
      // Rewatch
      window.requestAnimationFrame(onFrame);
    };

    // Start watch
    window.requestAnimationFrame(onFrame);
  }
</script>
{% endblock %}