{% extends 'layout.html' %}

{% block content %}
<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">แปลงเสียงพูดเป็นข้อความ</h2>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success" id="start-btn"> ฟังเสียง </button>
    <button type="button" class="btn btn-danger" style="display: none;" id="stop-btn"> หยุด </button>
    <div class="form-group text-start">
      <div class="mb-3 mx-auto" style="max-width: 40rem;">
        <label for="content">ข้อความที่ได้ยิน</label>
        <textarea class="form-control" id="content" rows="3" disabled readonly></textarea>
      </div>
    </div>
  </div>
</div>

<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">ผลลัพธ์</h2>
  </div>
  <div class="card-body">
    <div class="audio">
      <audio controls id="audio"></audio>
    </div>
  </div>
</div>

<script type=text/javascript>
  // Define language to recognition
  let lang = "th-TH";

  // Set up recognition
  var Recognition = window.SpeechRecognition || window.webkitSpeechRecognition
  var recognition = new Recognition();
  recognition.lang = lang
  recognition.continuous = false;
  recognition.interimResults = true;

  // Queries for common elements
  const contentEl = document.querySelector("#content");
  const startBtn = document.querySelector("#start-btn")
  const stopBtn = document.querySelector("#stop-btn")

  // On recognition have the result event
  recognition.onresult = function (event) {
    // Change inner display text element to recognition transcript
    contentEl.value = Object.values(event.results).map(value => value[0].transcript).join("")
  }

  // On recognition start recognizes
  recognition.onstart = function () {
    startBtn.style.display = "none"; // Hide start button
    stopBtn.style.display = "initial"; // Show stop button
  }

  recognition.onend = function () {
    startBtn.style.display = "initial"; // Show start button
    stopBtn.style.display = "none"; // Hide stop button
    speak(); // Speak recognized text
  }

  // Add start button on click event
  startBtn.addEventListener('click', function start(event) {
    recognition.start(); // Start recognizer `recognition.onstart` will be called
  })

  // Add stop button onclick event
  stopBtn.addEventListener('click', function stop(event) {
    recognition.stop(); // Stop recognizer `recognition.onend` will be called
  })

  // Speak recognition text function
  function speak() {
    let url = {{ url_for('speech')|tojson }} // URL for post text to route `speech` server

    // Create new formdata to send to server
    let data = new FormData()
    data.append("text", contentEl.value) // Append text to formdata

    // Send data to server
    fetch(url, { "method": "POST", "body": data })
      .then((response) => response.blob()) // change response to blob
      .then((blob) => {
        // Reab blob to data url for playing
        var reader = new FileReader(); 
        reader.readAsDataURL(blob); 

        // On blob loaded
        reader.onloadend = function() {
          var src = reader.result; // Audio source  
          document.getElementById("audio").pause() // Stop playing audio, if audio is playing
          document.getElementById("audio").setAttribute('src', src) // Set audio player source to reader result
          document.getElementById("audio").load() // Let audio player load source
          document.getElementById("audio").play() // Play audio 
        }
      })
  }
</script>
{% endblock %}