{% extends "layout.html" %}

{% block content %}
<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">แปลงข้อความเป็นเสียงพูด</h2>
  </div>
  <div class="card-body">
    <div class="form-group text-start">
      <div class="mb-3 mx-auto" style="max-width: 40rem;">
        <label for="text" class="form-label">ใส่ข้อความ</label>
        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
      </div>
    </div>
    <button id="start-btn" class="btn btn-success" onclick="speak()">แปลงเสียง</button>
  </div>
</div>
<div class="card text-center my-3 mx-auto" style="max-width: 50rem;">
  <div class="card-header">
    <h2 class="card-title">ผลลัพธ์</h2>
  </div>
  <div class="card-body">
    <div class="audio">
      <audio controls id="audio"></audio>
    </div>
  </div>
</div>

<script type=text/javascript>
  // Speak text function
  function speak() {
    const textEl = document.querySelector("#text"); // Get text element
    let url = {{ url_for('speech')|tojson }} // URL for post text to route `speech` server

    // Create new formdata to send to server
    let data = new FormData()
    data.append("text", textEl.value) // Append text to formdata

    // Send data to server
    fetch(url, { "method": "POST", "body": data })
      .then((response) => response.blob()) // change response to blob
      .then((blob) => {
        // Reab blob to data url for playing
        var reader = new FileReader(); 
        reader.readAsDataURL(blob); 

        // On blob loaded
        reader.onloadend = function() {
          var src = reader.result; // Audio source  
          document.getElementById("audio").pause() // Stop playing audio, if audio is playing
          document.getElementById("audio").setAttribute('src', src) // Set audio player source to reader result
          document.getElementById("audio").load() // Let audio player load source
          document.getElementById("audio").play() // Play audio 
        }
      })
  }
</script>
{% endblock %}